<div id="OPTYMALIZACJE" class="tab-content">
    <form id="set_optimizations">
        Wybierz flagi:
        <hr>
        <input type="checkbox" id="flag_0" name="flag_0" value="nogcse">
        <label for="flag_0"> nogcse </label><br>
        <input type="checkbox" id="flag_1" name="flag_1" value="noinvariant">
        <label for="flag_1"> noinvariant </label><br>
        <input type="checkbox" id="flag_2" name="flag_2" value="noinduction">
        <label for="flag_2"> noinduction </label><br>
        <button type="submit">Ustaw Flagi</button>    
    </form>
</div>